body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}

body, html {
    height: 100%;
    width: 100%;
    line-height: 1.8;
    font-size: 1.2em;
    color: White;
    background-color: #1c4676; 
    background-repeat: no-repeat;
    background-image: linear-gradient(#1c4676, #5d6196, #6b7cb8, #8fa1db);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.titleScreen {
    align-items: center;
}

.titleScreen, .food, .foodDict, .foodQuiz {
    width: 100%;
}

.titleImg {
    width: 30%;
    margin-left: 35%;
    margin-right: auto;
    margin-top: 8%;
}

.mainMenuBtn {
    width: 10%;
    margin-left: 45%;
    margin-right: auto;
    margin-top: 8%;
    font-weight: bold;
}

.mainMenuBtn:hover, .menuBtn:hover {
    cursor: pointer;
    color: #d7dce6;
    background-color: #5d6196;
    border: 5px solid #5d6196;
}

.backBtn {
    font-size: 1.5em !important;
    margin-left: 1%;
    margin-right: auto;
    margin-top: 1%;
    background-color: transparent;
    color: #d7dce6;
    border: 1px transparent;
    outline: none;
    position: fixed;
    top: 1%;
}

.backBtn:hover {
    cursor: pointer;
}

.menu {
    margin-top: 12%;
    margin-bottom: auto;
    width: 100%;
    align-items: center;
}

.menuBtn {
    width: 30%;
    margin-left: 35%;
    margin-right: auto;
    margin-top: 5%;
}

.menuBtn, .mainMenuBtn {
    background-color: #d7dce6;
    color: #5d6196;
    border: 3px solid #5d6196;
    border-radius: 5px;
    outline: none;
    font-size: 1.5em;
}

.w30 {
    margin-top: 10%;
    width: 30%;
    margin-left: 35%;
    margin-right: auto;
}

.images {
    width: 98%;
    margin-left: 1%;
    margin-right: auto;
}

.text {
    width: 100%;
    text-align: center;
    font-size: 1.4em !important;
}

.prevBtn, .nextBtn {
    font-size: 1.2em !important;
    color: #d7dce6;
    border: 0px;
    background-color: transparent;
    margin-top: 15%;
    margin-bottom: auto;
    position: fixed;
}

.prevBtn {
    margin-left: 25%;
    margin-right: auto;
}

.nextBtn {
    margin-left: 68%;
    margin-right: auto;
}

.task {
    width: 100%;
    text-align: center;
    top: 3%;
    position: fixed;
    font-size: 1.5em;
}

.volumeBtn:hover, .nextBtn:hover, .prevBtn:hover {
    color: #1c4676;
}

.quizBtn {
    width: 40%;
    margin-left: 5%;
    margin-right: 4%;
    border: 2px solid #d7dce6;
    border-radius: 5px;
    color: #d7dce6;
    background-color: transparent;
}

.quizBtn:hover {
    cursor: pointer;
    background-color: #1c4676;
}

.bgcol-1 {
  background-color: #076579;
}

.hidden{
	display: none;
}

.shown{
	display: contents;
}

/* ****************************************** MEDIA ********************************** */
@media screen and (max-width: 1155px) {

    .mainMenuBtn {
        width: 15%;
        margin-left: 45%;
        margin-right: auto;
        margin-top: 8%;
        font-weight: bold;
        font-size: 1.2em !important;
    }   

    .menu {
        margin-top: 20%;
        margin-bottom: auto;
        width: 100%;
        align-items: center;
    }
    
    .menuBtn {
        width: 40%;
        margin-left: 30%;
        margin-right: auto;
        margin-top: 5%;
    }
}

@media screen and (max-width: 950px) {

    .mainMenuBtn {
        width: 24%;
        margin-left: 38%;
        margin-right: auto;
        margin-top: 8%;
        font-weight: bold;
        font-size: 1.2em !important;
    } 

    .titleImg {
        width: 40%;
        margin-left: 30%;
        margin-right: auto;
        margin-top: 8%;
    }  
    
    .menuBtn {
        width: 50%;
        margin-left: 25%;
        margin-right: auto;
        margin-top: 5%;
    }
}

@media screen and (max-width: 725px) {

    .mainMenuBtn {
        width: 40%;
        margin-left: 30%;
        margin-right: auto;
        margin-top: 8%;
        font-weight: bold;
        font-size: 1.2em !important;
    } 

    .titleImg {
        width: 50%;
        margin-left: 25%;
        margin-right: auto;
        margin-top: 8%;
    }  
    
    .menuBtn {
        width: 60%;
        margin-left: 20%;
        margin-right: auto;
        margin-top: 5%;
    }
}

@media screen and (max-width: 555px) {

    .mainMenuBtn {
        width: 50%;
        margin-left: 25%;
        margin-right: auto;
        margin-top: 10%;
        font-weight: bold;
        font-size: 1.2em !important;
    } 

    .titleImg {
        width: 60%;
        margin-left: 20%;
        margin-right: auto;
        margin-top: 10%;
    }  
    
    .menuBtn {
        width: 60%;
        margin-left: 20%;
        margin-right: auto;
        margin-top: 8%;
    }
}

@media screen and (max-width: 410px) {

    .mainMenuBtn {
        width: 70%;
        margin-left: 15%;
        margin-right: auto;
        margin-top: 10%;
        font-weight: bold;
        font-size: 1.2em !important;
    } 

    .titleImg {
        width: 80%;
        margin-left: 10%;
        margin-right: auto;
        margin-top: 20%;
    }  
    
    .menuBtn {
        width: 80%;
        margin-left: 10%;
        margin-right: auto;
        margin-top: 8%;
    }
}